@if (TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-primary">

            @if (CurrentPageNumber > 1)
            {
                <li class="page-item">
                    <button type="button" class="page-link" @onclick="async () => await OnPageChangedAsync(1)">
                        <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                    </button>
                </li>
            }

            @if (StartPage != MaxPage)
            {
                @for (int i = StartPage; i <= MaxPage; i++)
                {
                    int pageNumber = i;
                    string subClass = CurrentPageNumber == i ? "active" : string.Empty;

                    <li class="page-item @subClass"><button type="button" class="page-link" @onclick="async () => await OnPageChangedAsync(pageNumber)">@i</button></li>
                }
            }

            @if (CurrentPageNumber < TotalPages)
            {
                <li class="page-item">
                    <button class="page-link" @onclick="async () => await OnPageChangedAsync(TotalPages)">
                        <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                    </button>
                </li>
            }
        </ul>
    </nav>
}